{% extends 'base.html.twig' %}

{% block title %}Transfer Accounts!{% endblock %}

{% block stylesheets %}
{{ parent() }}
{% endblock %}
{% block body %}
<div class="example-wrapper">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,300,400,600,700,900" rel="stylesheet">

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="card card-1">
                    <a class="text-dark" href="{{ path('my_accounts') }}" style="text-decoration: none;">
                    <h3>Cuentas Propias</h3>
                    <p>A curated set of   ES5/ES6/TypeScript wrappers for plugins to easily add any native functionality to your Ionic apps.</p>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-2">
                    <a class="text-dark" href="{{ path('third_accounts') }}" style="text-decoration: none;">
                        <h3>Cuentas de terceros</h3>
                        <p>A curated set of   ES5/ES6/TypeScript wrappers for plugins to easily add any native functionality to your Ionic apps.</p>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-3">
                    <a class="text-dark" href="{{ path('my_transfers') }}" style="text-decoration: none;">
                        <h3>Transacciones</h3>
                        <p>Learn how to easily customize and modify your app’s design to fit your
                            brand across all mobile platform styles.</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
